
body {
	background: radial-gradient(#FFF176, #F57F17);
	max-height: 100vh;
}

#wrapper {
	width: 700px;
	margin: 150px auto;
	position: relative;
	height: 465px;
	background-color: #eee;
	border-radius: 0px;
	    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
}

#input-wrapper {
	width: 700px;
	margin: 40px auto 20px auto;
	position: absolute;
	bottom: 10px;
	text-align: center;
	display: block;

}

#img-wrapper {
	max-height: 200px;
	min-height: 280px;
	margin-bottom: 20px;
	display: block;
}

#no-fingers, #one-finger, #two-fingers, #three-fingers, #four-fingers, #five-fingers {
visibility: hidden;
	max-height: 200px;
	position: absolute;
	top: 100px;
	left: calc(50% - 80px);
	margin-top: 40px ;
	margin-bottom: -50px;
}

#img-placeholder
{

	height: 400px;
	width: 400px;
position: absolute;
	top: 30px;
	left: calc(50% - 200px);
	margin-top: 40px ;
	margin-bottom: -50px;
	display: block;
}


#yes, #no {
display: none;
	font-family: 'roboto', helvetica, arial, sans-serif;
color: #666;
font-size: 18px;
	margin: 25px auto 50px auto;
	position: relative;
	height: 40px;
	font-weight: normal;
	height: 50px; 
	text-align: center;
}

.message {

display: block;
color: #222;
font-size: 18px;
text-align: center;
}

#input-box {
	
padding: 10px ;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  width: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  text-align: center;

}

#guess {

padding: 10px 20px;
  border-radius: 3px;
  border: none;
  background: #FF6F00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  font-family: 'roboto', helvetica, sans-serif;
}

#guess:hover {

	 background: #e66400;
}

.guess:focus {
	
	  border-color: #FF6F00;

}


#input-box:focus {
	
	border: solid 2px #fff;
	  border: 1px solid #F57F17;
  border-radius: 3px;

}


.input-label {

	font-family: 'roboto', helvetica, arial, sans-serif;
	font-weight: normal;
	padding: 20px 0px;
	color: #666;
	font-size: 20px;
	text-align: center;
	width: 100%;
	border-bottom: solid 1px #ccc;
	display: inline-block;
}