
body {
	background-color: teal;
	background: radial-gradient(lightblue 0%, teal 90%);
	max-height: 100vh;
}

#wrapper {
	width: 700px;
	margin: 150px auto;
	position: relative;
	height: 600px;
	background-color: #eee;
	padding: 10px 40px;
	border-radius: 10px;
}

#input-wrapper {
	width: 700px;
	margin: 20px auto;
	position: absolute;
	bottom: 10px;
	text-align: center;

}

#img-wrapper {
	max-height: 200px;
	min-height: 280px;
	margin-bottom: 0px;
	display: block;
}

#no-fingers, #one-finger, #two-fingers, #three-fingers, #four-fingers, #five-fingers {
visibility: hidden;
	max-height: 400px;
	position: absolute;
	top: 30px;
	left: calc(50% - 200px);
	margin-top: 40px ;
	margin-bottom: -50px;
}

#img-placeholder
{

visibility: hidden;
	max-height: 200px;
	position: absolute;
	top: 150px;
	left: 100px;
	margin-top: 40px ;
	margin-bottom: -50px;
	float: left;
}


#yes, #no {
display: none;
	font-family: helvetica, arial, sans-serif;
color: #222;
font-size: 48px;
	margin: 10px auto 50px auto;
	position: relative;
	height: 40px;
	font-weight: bold;
	height: 50px; 
	text-align: center;
}

.message {

display: block;
color: #222;
font-size: 48px;
text-align: center;
}

#input-box {
	
	padding: 10px;
	margin: 20px auto 50px auto;
	width: 40px;
	background-color: #fff;
border: solid 2px teal;
color: teal;
font-size: 46px;
text-align: center;
border-radius: 5px;

}

#guess {

	font-size: 36px;
	margin-left: 20px;
	font-family: helvetica, arial, sans-serif;
	padding: 15px;
	background-color: #fff;
	font-weight: bold;
	border: solid 2px teal;
	color: #222;
	border-radius: 5px;
}

.guess:focus {
	
	border: solid 2px pink;

}


#input-box:focus {
	
	border: solid 2px #fff;

}


.input-label {

	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	padding: 10px;
	color: #222;
	font-size: 40px;
	text-align: center;
	display: inline-block;
}